<html>

<head>
	<meta charset="utf-8">
	<title>
		Free Online Songs
	</title>
 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/myScript.js"></script>
</head>

<body style = "background-color:#00FFFF;">

	<div style = "height: 150px; background-color:#FFFF00;">

		<div style = "float:left; padding:55px;">
			<input id = "email" type="email" value = "" placeholder="Email" style = "height:35px ; width:250px;">				
			<input id = "password" type="password" value = "" placeholder="Password" style = "height:35px ; width:250px;">
			<button id="login-btn">Log In</button>
		</div>
		
		<div style = "float:right; padding-right: 50px;">
			<h1>Welcome to Music App !!</h1>
			<h1>Listen Free Songs Here.</h1>
		</div>

	</div>

	<div>
		
		<div style="float:left">
			<h2 style="padding-top:20px; padding-left:50px;">Sign Up For Free !!</h2>
			<div style="padding:15px; padding-left:50px;"><input id="_name" value = "" placeholder="Your Name" style="height:40px; width:400px"></div>
			<div style="padding:15px; padding-left:50px;"><input id="_email" value = "" placeholder="Your Email" type="email" style="height:40px;width:400px"></div>
			<div style="padding:15px; padding-left:50px;"><input id="_password" value = "" placeholder="Your Password" type="password" style="height:40px;width:400px"></div>
			<div style="padding:15px; padding-left:50px;">
				<button id='signup-btn'>Sign Up</button>
			</div>
		</div>
		
		<div style="float:right">
			<h1 style="padding-top:100px; padding-left:200px;">Listen, Upvote and Upload</h1>
			<h1 style="padding-left:200px;">Your Favourite Songs For Free.</h1> 
		</div>
	</div>
	

</body>


</html>
